.About {
    background-color: #256EFF; 
    height: 95vh;
    display: flex;
    color: #eee;
}

.About__btn {
    flex-grow: 1;
    height: 35px;
    border-radius: 10px;
    color: rgb(216, 212, 212);
    font-size: 1.2rem;
    line-height: 35px;
    transition: .4s;
    padding: 0 1.5vw;
    opacity: .8;
    background-color: #CE123E;
}

.About__btn i {
    margin-left: 12px;
}

@media screen and (max-width: 720px) {
    .About {
        background-color: black;
    }
}

@media screen and (max-width: 550px) {
    .About__btn {
        display: none;
    }
}