* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {  
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

button, a {
  border: none;
  text-decoration: none;
  font-family: inherit;
}

button:hover, a:hover {
  cursor: pointer;
}

.btn {
  transition: .4s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn:hover {
  opacity: .9;
}

.btn:disabled {
  opacity: .2;
}

.btn:active {
  transform: scale(1.1);
}

.pos-fix-bottom {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;  
}

@media screen and (max-width: 600px) {
  .pos-fix-bottom {
      bottom: 10vh
  }
}