.ProfileBox {
    background-color: #08090A;
    margin: 17vh auto;
    border-radius: 3px;
    width: 80%;
    max-width: 720px;
    height: 50vh;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ProfileBox__header {
    border-top-left-radius: 3px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 12vh;
    border-bottom: 1px solid #F9DC5C;
    position: relative;
}

.ProfileBox__body {
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 38vh;
    overflow-y: auto;
    padding-bottom: 40px;
}

.ProfileBox__img-container {
    height: 12vh;
    width: 12vh;
    min-width: 70px;
}

.ProfileBox__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s ease;
}

.ProfileBox__title {
    flex-grow: 3;
    color: #F9DC5C;
    font-weight: 100;
    margin-left: 2.3vw;
    letter-spacing: .7vw;
    transition: .5s ease-out;
}

.ProfileBox__description {
    font-size: 10px;
    opacity: .7;
    letter-spacing: 3px;
    color: #F9DC5C;
    position: absolute;
    bottom: 4px;
    right: 15px;
}

.ProfileBox__btn {
    margin: 0 20px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: .5;
    transition: .4s;
}

.ProfileBox__btn i {
    color: #eee;
    font-size: 1rem;
}

.ProfileBox__btn:first-child i {
    transform: translate(-1px, 1.5px);
}

.ProfileBox__btn:nth-child(2) i {
    transform: translate(1px, 1.5px);
}

.ProfileBox__body::-webkit-scrollbar,
.ProfileBox__body::-webkit-scrollbar-track,
.ProfileBox__body::-webkit-scrollbar-thumb {
    width: 3rem;
}

.ProfileBox__body::-webkit-scrollbar-track:vertical {
    border-right: 1.5rem solid rgba(0,0,0,.2);
    border-radius: 3px;
}
.ProfileBox__body::-webkit-scrollbar-thumb:vertical {
    border-right: 1.5rem solid rgba(255,255,255,.2);
    border-radius: 3px;
}

@media screen and (min-width: 720px) {
    .ProfileBox__btn:hover {
        background-color: rgb(155, 149, 149);
    }   
}

@media screen and (max-width: 720px) {
    .ProfileBox {
        border-top: 3px solid #eee;
        border-radius: 0;
        width: 100%;
        margin: 0;
        height: 75vh;
        align-self: flex-start;
        border-radius: 0;
    }
    .ProfileBox__title:hover {
        letter-spacing: 1vw;
    }
    .ProfileBox__body {
        flex-direction: column;
        padding: 10px;
        height: 80vh;
    }
    .ProfileBox__header {
        border-radius: 0;
        padding-bottom: 0;
    }
    .ProfileBox__img-container {
        border-radius: 0;
        padding: 0;
    }
}

@media screen and (max-width: 550px) {
    .ProfileBox__description {
        display: none;
    }
    .ProfileBox__btn {
        margin: 0 10px;
    }
    .ProfileBox__title {
        letter-spacing: 0;
    }
}